/* Logo */
.logo {
    width: 170px;
    height: auto;
    padding: 0 0 0 45px;
}

.form-employee {
    margin-top: 50px;
    margin-bottom: 100px;
}

.font-footer {
    font-size: 12px;
}

.logOut,
.nav-li {
    font-size: 14px;
}

/* employee.php -- AVATAR STYLES START */

.img-container {
    margin-left: 5px;
    border-radius: .25rem;
    width: 8vw !important;
    height: 8vw !important;
    outline: 1px solid white;
    outline-offset: -4px;
    overflow: hidden;
    cursor: pointer;
}

.img-container:hover {
    outline: 2px solid rgb(255, 255, 255);
    outline-offset: 0px;
    transition: 200ms ease-in-out;
    border: 3.5px solid royalblue;
}

.resize-avatar {
    z-index: -1;
    object-fit: cover;
    height: 100% !important;
}

.active-avatar {
    outline: 3px solid rgb(255, 255, 255);
    outline-offset: 0px;
    transition: 200ms ease-in-out;
    border: 3.5px solid royalblue;
}

.thumbnail {
    height: auto;
    max-width: 100%;
}

/* employee.php -- AVATAR STYLES END */

/* employee.php -- ALERT MESSAGE START */
#employeeAlert {
    display: none;
    position: fixed;
    top: 0;
    left: 20vw;
    width: 60vw;
    padding: 15px 0;
    text-align: center;
    background-color: rgba(155, 233, 161, 0.938);
    color: rgb(29, 82, 55);
    border-radius: 3px;
    font-weight: bold;
    box-shadow: rgba(66, 66, 66, 0.507) -2px 2px 1px 1px;
}

/* employee.php -- ALERT MESSAGE END */

/* Form Validation START */

.error {
    color: rgb(192, 46, 46);
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
    display: flex;
}

/* Form Validate END */