/* Logo */
.logo{
    width: 170px;
    height: auto;
    padding: 0 0 0 45px;
}

.logOut{
    
}



.font-footer{
    font-size: 12px;
}


/* employee.php -- AVATAR STYLES START */

.img-container {
    margin-left: 5px;
    border-radius: .25rem;
    width: 120px !important;
    height: 120px !important;
    outline: 1px solid white;
    outline-offset: -4px;
    overflow: hidden;
    cursor: pointer;
}

.img-container:hover {
    outline: 2px solid rgb(255, 255, 255);
    outline-offset: 0px;
    transition: 200ms ease-in-out;
    border: 3.5px solid royalblue;
}

.active-avatar {
    outline: 3px solid rgb(255, 255, 255);
    outline-offset: 0px;
    transition: 200ms ease-in-out;
    border: 3.5px solid royalblue;
}

.thumbnail {
    height: auto;
    max-width: 100%;
}

/* employee.php -- AVATAR STYLES END */

/* employee.php -- ALERT MESSAGE START */
#employeeAlert {
    display: none;
    position: absolute;
    top: 0;
    left: 20vw;
    width: 60vw;
    padding: 8px 0;
    text-align: center;
    background-color: rgba(0, 255, 21, 0.185);
    color: rgb(1, 102, 51);
    border-radius: 3px;
}

/* employee.php -- ALERT MESSAGE END */